<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Scripts-->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link href="css/bootstrap.css" rel="stylesheet" />
		<!-- Title-->
		<title>First app</title>

		
	</head>
		<body>
				<!-- Title-->
				<h1 style="text-align:center">YOUTUBE 2 SPOTIFY</h1>
				<div class="bs-docs-section">
					<div class="row">
						<div class="col-lg-4">
						</div>
						<div class="col-lg-4">
							<div class="bs-component">
								<!-- USER INPUT-->
								<form action="#" method="post">
									<fieldset>
										<label for="ta">Tracklist</label>
										<div class="form-group">
											<textarea name="nm" id="ta" rows="10" cols="30">The cat was playing in the garden.</textarea>
											<hr></hr>
											<input type="submit" class="btn btn-primary" value="GO!"></button>
										</div>
									</fieldset>
								</form>
								
								<!-- RESULT-->
								<hr> </hr>
								<div class="list-group">
									<a href="https://bootswatch.com/darkly/#" class="list-group-item list-group-item-action flex-column align-items-start active">
									  <div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">List group item heading</h5>
										<small>3 days ago</small>
									  </div>
									  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
									  <small>Donec id elit non mi porta.</small>
									</a>
								</div>
								<div id="list-content">
								<hr></hr>
									<script>
										let con = document.getElementById('list-content')
										var arr = {{ arr | tojson }};
										let list = "<ul>";

										for(let i=0;i<arr.length;i++){
											list += "<li>"+arr[i]+"</li>"
										}
										list+="</ul>";

										con.innerHTML = list;

									</script>
								</div>
	

								

							</div>
						</div>
					</div>
						


				<!-- Optional JavaScript -->
				<!-- jQuery first, then Popper.js, then Bootstrap JS -->
				<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		</body>
</html>