<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Scripts-->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<!-- Title-->
		<title>First app</title>

		
	</head>
	<style>
		body {
		  overflow-x: hidden;
		  background-color:rgb(51, 51, 51);
		  color: white}

	</style>
		<body>			
				<div>
					<br><br>
					<div class="row">
						<div class="col-lg-4">
						</div>
						<div class="col-lg-4">
							<h1 id=title>YOUTUBE 2 SPOTIFY</h1>
							<br><br>
							<div class="bs-component">
								<!-- USER INPUT-->
								<form id="formid" method="post">
									<fieldset>										
										<div id="search_form" class="form-group">
											<h5>Youtube link</h5>
											<input type="text" name="link_input" placeholder="Paste it here!" style="color:whitesmoke; background-color:black;border:black;"required></textarea>											
											<br><br>
											<input type="button" class="btn btn-primary" value="GO!" onclick="submitAndHide()"></button>
										</div>
									</fieldset>
								</form>
								<!-- RESULT-->
								<br> <br>
								<div id="list-content" >
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<input type="button" id="resetbutton" class="btn btn-primary" value="Reset" style="display:none;" onclick="reset_on_click()">
						</div>
					</div>
						

					<script>
						function submitAndHide(){
							document.getElementById("search_form").style="display:none";
							document.getElementById("formid").submit();
						}

						function hideSearchform(){
							if ((arr.length)>0){
								document.getElementById("search_form").style="display:none";
								document.getElementById("resetbutton").style="display:inline";
								document.getElementById("title").innerHTML = yt
							}
						}

						function reset_on_click(){
								document.getElementById("search_form").style="display:inline";
								document.getElementById("list-content").innerHTML = "";
								document.getElementById("resetbutton").style="display:none";
								document.getElementById("title").innerHTML = "YOUTUBE 2 SPOTIFY"
								arr = []

						}
						
						function playSong(i){
							a.pause();
							mp3 = arr[i]["hmp3"]
							a = new Audio(mp3);
    						a.play();
						}

						function pauseSong(){
							a.pause();
						}

						function showSongs(){
							let con = document.getElementById('list-content');   									
							var list = '<div class="list-group">';
							var active

							//loop for songs
							for(let i=0;i<arr.length;i++){

								var name = arr[i]["name"]
								var artist = arr[i]["artist"]
								var album = arr[i]["album"]
								var href = arr[i]["href"]
								var image = arr[i]["image"]
								var pop = arr[i]["pop"]
								var label = arr[i]["label"]
								var mp3 = arr[i]["hmp3"]
								var bpm = arr[i]["bpm"]
								
								// color changing
								if (i % 2 == 0){
									active = 'active'
								} else {
									active = ''
								}

								// songs adding
								list += `<a href="${href}" class="list-group-item list-group-item-action flex-column align-items-start ${active}">\
										<div class="d-flex w-100 justify-content-between" >\
											<h5 class="mb-1">${name.bold()} ● ${artist}</h5>\
											<small onmouseenter="playSong(${i})" onmouseout="pauseSong()">
												<img src="${image}">
												<figcaption>${bpm} BPM</figcaption>
											</small>\
										</div>\
										<p class="mb-1">${album}</p>\
										<small style="text-algin:center">${label}</small>
										\
									</a>`;
								}

							list += '</div>';
							con.innerHTML = list;
						}
							
						
						var a = new Audio()
						var arr = JSON.parse('{{ arr | tojson | safe }}');
						var yt = '{{ yt }}';



						showSongs(arr)
						hideSearchform(arr)

					</script>

				<!-- Optional JavaScript -->
				<!-- jQuery first, then Popper.js, then Bootstrap JS -->
				<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		</body>
</html>