<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Scripts-->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<!-- Title-->
		<title>First app</title>

		
	</head>
	<style>
		body {
		  overflow-x: hidden;
		  background-color:rgb(208,211,212);
		}
	</style>
		<body>			
				<div>
					<br><br>
					<div class="row">
						<div class="col-lg-4">
						</div>
						<div class="col-lg-4">
							<h1>YOUTUBE 2 SPOTIFY</h1>
							<input type="button" value="Reset" onclick="reset_on_click()">
							<div class="bs-component">
								<!-- USER INPUT-->
								<form action="#" method="post">
									<fieldset>										
										<div id="search_form" class="form-group">
											<h3>Youtube link</h3>
											<input type="text" name="link_input" placeholder="Paste it here!" required></textarea>											
											<br><br>
											<input type="submit" class="btn btn-primary" value="GO!"></button>
										</div>
									</fieldset>
								</form>
								
								<!-- RESULT-->
								<br> <br>
								<div id="list-content">
								
									<script>
										function reset_on_click(){
											document.getElementById("search_form").style="display:inline";}
										
										function display_songs_on_click(){
											let con = document.getElementById('list-content');   
											var arr = JSON.parse('{{ arr | tojson }}');
											
											if (arr.length > -1){

												document.getElementById("search_form").style="display:none";
												var list = '<div class="list-group">';
												var active

												//loop for songs
												for(let i=0;i<arr.length;i++){

													var title = arr[i][1]
													var artist = arr[i][2]
													var album = arr[i][3]
													var href = arr[i][4]
													var image = arr[i][5]
													var pop = arr[i][6]
													var label = arr[i][7]
													
													// color changing
													if (i % 2 == 0){
														active = 'active'
													} else {
														active = ''
													}

													// songs adding
													list += `<a href="${href}" class="list-group-item list-group-item-action flex-column align-items-start ${active}">\
															<div class="d-flex w-100 justify-content-between">\
																<h5 class="mb-1">${title.bold()} ● ${artist}</h5>\
																<small><img src="${image}"></small>\
															</div>\
															<p class="mb-1">${album}</p>\
															<small>${label}</small>\
														</a>`;
													}

												list += '</div>';
												con.innerHTML = list;
												}
										}

									</script>
								</div>
							</div>
						</div>
					</div>
						


				<!-- Optional JavaScript -->
				<!-- jQuery first, then Popper.js, then Bootstrap JS -->
				<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		</body>
</html>